body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, .main, footer {
    max-width: 1850px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 20px 0 40px;
}

.logotipo img {
    display: block;
    width: auto;
    height: 100px; 
}

nav {
    background-color: #51abdf;
    padding: 15px 20px;
    margin: 20px 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: #1a78d1;
    border-radius: 5px;
}

.main {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    min-height: 600px;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;
}

article, aside {
    padding: 15px;
    text-align: justify;
    background-color: #ffffff;
    height: 100%;
}

aside {
    background-color: #bad5db;
    flex: 1;
}

article h2, aside h3 {
    font-weight: bold;
}

footer {
    padding: 30px 0;
    background-color: #000;
    color: white;
    text-align: center;
}